<p id="notice"><%= notice %></p>

<p>
  <strong>From date:</strong>
  <%= @menu.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @menu.to_date %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
