<p id="notice"><%= notice %></p>

<p>
  <strong>[name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Order for:</strong>
  <%= @order.order_for %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
