<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @meal.order %>
</p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<%if signed_in?%>
    <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@meal), removeUrl: remove_from_cart_path(@meal)} do%>
        <i class="fi-shopping-cart"></i>
        <span><%=@cart_action%></span> Cart
    <%end%>
<%end%>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
